<?xml version="1.0" encoding="utf-8"?>
<!--
    FilePersistence:
        RootDirectory - default = messages {path where to save messages}
        EnableCrypting - default = false   {enables or disables crypting}
    
    ConnectionManagers : 
        TcpConnectionManager : 
            Port - default = 9000
            MaxMessageLength - deafutl = 52428800
            WireProtocol - deafutl = DefaultWireProtocol
            EnableCrypting - default = false
            
        UdpConnectionManager :
            Port - default = 9000
            MaxMessageLength - deafutl = 52428800
            WireProtocol - deafutl = DefaultWireProtocol.
            EnableCrypting - default = false

    Exchanges:
        DirectExchange - Name {required, unique}
        TopicExchange -  Name {required, unique}
        FanoutExchange - Name {required, unique}
        Eche exchange could hold ques : 
                Queue: 
                    Name {required, unique}
-->

<Broker>
    <Persistence>
        <FilePersistence EnableCrypting="true"/>
    </Persistence>

    <ConnectionManagers>
        <TcpConnectionManager />
        <UdpConnectionManager Port="8000"/>
        <UdpMulticastConnectionManager Ip="224.5.6.7" Port="7000">
            <Queue Name="discovery-requests"/>
        </UdpMulticastConnectionManager>
    </ConnectionManagers>

    <Exchanges>
        <DirectExchange Name="Discovery">
            <Queue Name="discovery-requests"/>
            <Queue Name="discovery-responses"/>
        </DirectExchange>
    </Exchanges>
</Broker>