<?xml version="1.0" encoding="utf-8"?>
<!--
    Brockers : 
        Brocker : 
            Name - {required, unique}
            SocketProtocol - default = Tcp {Tcp, Udp}
            Port - default = 9000
            WireProtocol - deafutl = DefaultWireProtocol
            DefautlProtocols - inner {Direct, Topic, Fanout}
                each default protocol should have a unique name.
            EnableCrypting - default = false
-->
<Buss>
    <Brockers>
        <Brocker Name="Brocker"
                 SocketProtocol="Tcp"
                 Ip="127.0.0.1"
                 Port="9000"
                 WireProtocol="DefaultWireProtocol"
                 EnableCrypting="true">

            <Fanout Name="DefaultFanoutExchange"/>
            <Direct Name="DefaultDirectExchange"/>
            <Topic Name="DefaultTopicExchange"/>
        </Brocker>

        <Brocker Name="Brocker2"
                 SocketProtocol="Udp"
                 Ip="127.0.0.1"
                 Port="8000"
                 WireProtocol="DefaultWireProtocol">

            <Fanout Name="DefaultFanoutExchange"/>
            <Direct Name="DefaultDirectExchange"/>
            <Topic Name="DefaultTopicExchange"/>
        </Brocker>
    </Brockers>
</Buss>