<?xml version="1.0" encoding="utf-8"?>
<!--
    Brokers : 
        Broker : 
            Name - {required, unique}
            SocketProtocol - default = Tcp {Tcp, Udp}
            Port - default = 9000
            WireProtocol - deafutl = DefaultWireProtocol
            DefautlProtocols - inner {Direct, Topic, Fanout}
                each default protocol should have a unique name.
            EnableCrypting - default = false
-->
<Buss>
    <Brokers>
        <Broker Name="Broker"
                 SocketProtocol="Tcp"
                 Ip="127.0.0.1"
                 Port="9000"
                 WireProtocol="DefaultWireProtocol"
                 EnableCrypting="true">

            <Fanout Name="DefaultFanoutExchange"/>
            <Direct Name="DefaultDirectExchange"/>
            <Topic Name="DefaultTopicExchange"/>
        </Broker>

        <Broker Name="Broker2"
                 SocketProtocol="Udp"
                 Ip="127.0.0.1"
                 Port="8000"
                 ReceiverIp="127.0.0.1"
                 ReceiverPort="8000"
                 WireProtocol="DefaultWireProtocol">

            <Fanout Name="DefaultFanoutExchange"/>
            <Direct Name="DefaultDirectExchange"/>
            <Topic Name="DefaultTopicExchange"/>
        </Broker>
    </Brokers>
</Buss>