<?xml version="1.0" encoding="utf-8"?>
<!--
    FilePersistence:
        RootDirectory - default = messages {path where to save messages}
        EnableCrypting - default = false   {enables or disables crypting}
    
    ConnectionManagers : 
        TcpConnectionManager : 
            Port - default = 9000
            MaxMessageLength - deafutl = 52428800
            WireProtocol - deafutl = DefaultWireProtocol
            EnableCrypting - default = false
            
        UdpConnectionManager :
            Port - default = 9000
            MaxMessageLength - deafutl = 52428800
            WireProtocol - deafutl = DefaultWireProtocol.
            EnableCrypting - default = false

    Exchanges:
        DirectExchange - Name {required, unique}
        TopicExchange -  Name {required, unique}
        FanoutExchange - Name {required, unique}
        Eche exchange could hold ques : 
                Queue: 
                    Name {required, unique}
-->

<MessageBrocker>
    <Persistence>
        <FilePersistence EnableCrypting="true"/>
    </Persistence>

    <ConnectionManagers>
        <TcpConnectionManager />
        <UdpConnectionManager Port="8000"/>
    </ConnectionManagers>

    <Exchanges>
        <DirectExchange Name="test">
            <Queue Name="test1"/>
            <Queue Name="test2"/>
            <Queue Name="test3"/>
        </DirectExchange>

        <TopicExchange Name="Test1">
            <Queue Name="TestQueue2"/>
            <Queue Name="TestQueue1"/>
            <Queue Name="TestQueue3"/>
        </TopicExchange>

        <FanoutExchange Name="Test2">
            <Queue Name="TestQueue2"/>
            <Queue Name="TestQueue3"/>
        </FanoutExchange>
    </Exchanges>
</MessageBrocker>